footer {
  height: 100px;
  margin-top: auto;
  background-color: #e6e6e6;
}

.content {
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 860px;
  margin: 0 auto;
  height: 100%;
}
